.main-container{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:hidden;
  }
  .icon-container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  .mail-icon{
    position:relative;
    height:74px;
    width:110px;
    animation-name:mail-icon;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
  }
  @keyframes mail-icon{
    0%, 32%{
      top:0;
      left:0;
      opacity:1;
    }
    45%, 100%{
      top:-200px;
      left:200px;
      opacity:0;
    }
  }
  .mail-top{
    width: 0;
      height: 0;
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-top: 40px solid #6C3483;
    border-radius:10px;
    position:absolute;
    top:0;
    left:0;
    animation-name:mail-top;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
  }
  @keyframes mail-top{
    0%, 5%{
      border-left: 55px solid transparent;
      border-right: 55px solid transparent;
      border-top: 40px solid #6C3483;
      transform:rotate(0deg);
      top:0;
      left:0;
    }
    10%, 100%{
      border-left: 25px solid transparent;
      border-right: 85px solid transparent;
      border-top: 35px solid #6C3483;
      transform:rotate(-10deg);
      top:-22px;
      left:12px;
    }
  }
  .mail-left{
    width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 42px solid #6C3483;
    border-radius:10px;
    position:absolute;
    top:7px;
    left:0;
    animation-name:mail-left;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
  }
  @keyframes mail-left{
    0%, 5%{
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 42px solid #6C3483;
      transform:rotate(0deg);
      top:7px;
      left:0;
      border-radius:10px;
    }
    10%, 100%{
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #6C3483;
      transform:rotate(30deg);
      top:21px;
      left:30px;
      border-radius:0;
    }
  }
  .mail-right{
    width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 42px solid #6C3483;
    border-radius:10px;
    position:absolute;
    top:7px;
    right:0;
    animation-name:mail-right;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
  }
  @keyframes mail-right{
    0%, 5%{
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right: 42px solid #6C3483;
      transform:rotate(0deg);
      top:7px;
      right:0;
    }
    10%, 100%{
      border-top: 85px solid transparent;
      border-bottom: 25px solid transparent;
      border-right: 32px solid #6C3483;
      transform:rotate(37deg);
      top:-53px;
      right:23px;
    }
  }
  .mail-bottom{
    position:absolute;
    bottom:0;
    left:0;
  }
  .mail-bottom-1{
    width: 0;
      height: 0;
      border-right: 55px solid transparent;
      border-left: 45px solid transparent;
      border-bottom: 32px solid #6C3483;
    border-radius:10px;
    position:absolute;
    bottom:0;
    left:0;
    animation-name:mail-bottom-1;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in-out;
  }
  @keyframes mail-bottom-1{
    0%{
      border-right: 55px solid transparent;
      border-left: 45px solid transparent;
      border-bottom: 32px solid #6C3483;
    }
    5%{
      border-right: 45px solid transparent;
      border-left: 55px solid transparent;
      border-bottom: 32px solid #6C3483;
      left:10px;
      opacity:1;
    }
    6%, 100%{
      border-right: 45px solid transparent;
      border-left: 55px solid transparent;
      border-bottom: 32px solid #6C3483;
      left:10px;
      opacity:0
    }
  }
  .mail-bottom-2{
    width: 0;
      height: 0;
      border-right: 45px solid transparent;
      border-left: 55px solid transparent;
      border-bottom: 32px solid #6C3483;
    border-radius:10px;
    position:absolute;
    bottom:0;
    left:10px;
    animation-name:mail-bottom-2;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:linear;
  }
  @keyframes mail-bottom-2{
    0%, 5%{
      border-right: 45px solid transparent;
      border-left: 55px solid transparent;
      border-bottom: 32px solid #6C3483;
      left:10px;
      transform:rotate(0deg) translate(0,0)
    }
    10%{
      border-right: 55px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 20px solid #6C3483;
      left:40px;
      transform:rotate(10deg) translate(0,0)
    }
    14%{
      border-right: 55px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 20px solid #6C3483;
      left:40px;
      transform:rotate(60deg) translate(60px,60px)
    }
    18%{
      border-right: 55px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 20px solid #6C3483;
      left:40px;
      transform:rotate(120deg) translate(60px,60px)
    }
    22%{
      border-right: 55px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 20px solid #6C3483;
      left:40px;
      transform:rotate(270deg) translate(80px,80px)
    }
    26%{
      border-right: 55px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 20px solid #6C3483;
      left:40px;
      transform:rotate(300deg) translate(-60px,-60px)
    }
    30%, 100%{
      border-right: 35px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 10px solid #fff;
      left:40px;
      transform:rotate(320deg) translate(30px,-58px)
    }
  }